<!DOCTYPE html>
<html lang="en" class="h-100" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/header::header('Вход')">
    <title>Вход</title>
</head>

<body class="signin-body bg-light text-center">
<main class="form-signin">
    <div class="px-3">
        <form th:action="@{/perform-login}" method="POST">
            <i class="bi bi-kanban fs-1 mb-4"></i>
            <h1 class="h3 mb-3 fw-normal">Вход в аккаунт</h1>

            <div th:if="${param.error}" class="alert alert-danger">
                Неправильные имя или пароль.
            </div>

            <div th:if="${param.logout}" class="alert alert-success">
                Вы вышли из аккаунта.
            </div>

            <div class="form-floating">
                <input type="text" class="form-control input-top" id="username" name="username" placeholder="Login">
                <label for="username">Логин</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control input-bottom" id="password" name="password" placeholder="Password">
                <label for="password">Пароль</label>
            </div>

            <div class="checkbox my-3">
                <label>
                    <input type="checkbox" name="remember-me"> Запомнить меня
                </label>
            </div>
            <button class="w-100 mb-3 btn btn-lg btn-primary" type="submit">Войти</button>
            <p class="text-muted">Нет аккаунта?
                <a class="text-decoration-none" href="signup.html" th:href="@{/signup}">Зарегистрироваться</a>
            </p>
            <p class="mt-5 mb-3 text-muted">LosevSA &mdash; Copyright &copy; 2022</p>
        </form>
    </div>
</main>
</body>
</html>