<!DOCTYPE html>
<html lang="en" class="h-100" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/header::header('Информация о проекте')">
    <title>'Информация о проекте'</title>
</head>

<body class="d-flex flex-column h-100">

<div th:replace="fragment/navbar::navbar"></div>

<main class="flex-shrink-0">
    <div class="container">
        <main class="px-3">
            <div th:object="${project}">
                <h2 th:text="*{name}">Имя проекта</h2>
                <p class="text-muted" th:text="*{description}"></p>

                <h4>Создатель проекта</h4>
                <p th:object="${project.creator}">
                    <span th:text="|*{firstName} *{surname}|"></span>
                    <span class="text-muted" th:text="|(@*{login})|"></span>
                </p>

                <h4>Участники проекта</h4>
                <p class="mb-1" th:each="participant : *{participants}" th:object="${participant}">
                    <span th:text="|*{firstName} *{surname}|"></span>
                    <span class="text-muted" th:text="|(@*{login})|"></span>
                </p>

                <div class="mt-3" th:unless="${#authorization.expression('hasRole(''ROLE_ADMIN'')') || #strings.equals(project.creator.login, #authentication.name)}">
                    <form class="form" th:method="DELETE" th:action="@{/project/exit}">
                        <input type="submit" class="btn btn-danger" value="Выйти из проекта"/>
                    </form>
                </div>

                <div class="mt-3" th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')') || #strings.equals(project.creator.login, #authentication.name)}">
                    <form class="form" th:action="@{/project/{id}(id=*{id})}" th:method="DELETE">
                        <a class="btn btn-primary" href="editProject.html" th:href="@{/project/{id}/edit(id=*{id})}">
                            Изменить проект
                        </a>
                        <input type="submit" class="btn btn-danger" value="Закрыть проект"/>
                    </form>
                </div>
            </div>
        </main>
    </div>
</main>

<div th:replace="fragment/footer::footer"></div>

</body>
</html>