<!DOCTYPE html>
<html lang="en" class="h-100" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/header::header('Список проектов')">
    <title>Список проектов</title>
</head>

<body class="d-flex flex-column h-100">

<div th:replace="fragment/navbar::navbar"></div>

<main class="flex-shrink-0">
    <div class="container">
        <main class="px-3">
            <h1 class="mb-5">Список проектов</h1>
            <div class="row row-cols-4 g-3">
                <div class="col" th:each="project : ${projectList}" th:object="${project}">
                    <a class="btn btn-lg btn-outline-dark w-100 text-uppercase align-middle"
                       th:href="@{/project/{id}(id=*{id})}" th:text="*{name}">
                    </a>
                </div>
                <div class="col">
                    <a class="btn btn-lg btn-primary w-100"
                       th:href="@{/project/new}">Добавить проект</a>
                </div>
            </div>
        </main>
    </div>
</main>

<div th:replace="fragment/footer::footer"></div>

</body>
</html>