<!DOCTYPE html>
<html lang="en" class="h-100" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/header::header('Изменение задачи')">
    <meta charset="UTF-8">
    <title>Изменение задачи</title>
</head>
<body class="d-flex flex-column h-100 bg-light">

<div th:replace="fragment/navbar::navbar"></div>

<main class="flex-shrink-0">
    <div class="container">
        <form th:object="${taskDto}" th:method="PUT" th:action="@{/task/{id}(id=*{id})}">
            <div class="row justify-content-center">
                <div class="row row-cols-1 w-50 g-3">
                    <h1 class="col">Изменение задачи</h1>
                    <div class="col has-validation">
                        <label for="name" class="form-label">Название</label>
                        <input id="name" type="text" th:field="*{name}"
                               th:class="|form-control ${#fields.hasErrors('name') ? 'is-invalid' : ''}|">
                        <div class="invalid-feedback" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">
                            Valid first name is required.
                        </div>
                    </div>

                    <div class="col">
                        <label for="description" class="form-label">Описание</label>
                        <textarea id="description" th:field="*{description}" rows="3"
                                  th:class="|form-control ${#fields.hasErrors('description') ? 'is-invalid' : ''}|"></textarea>
                        <div class="invalid-feedback" th:if="${#fields.hasErrors('description')}" th:errors="*{description}">
                            Valid surname is required.
                        </div>
                    </div>

                    <input type="hidden" name="projectId" th:value="${project.id}">

                    <div class="col">
                        <div class="row row-cols-2">
                            <div class="col">
                                <label for="startDate" class="form-label">Дата начала</label>
                                <input id="startDate" type="date" th:field="*{startDate}"
                                       th:class="|form-control ${#fields.hasErrors('startDate') ? 'is-invalid' : ''}|">
                                <div class="invalid-feedback" th:if="${#fields.hasErrors('startDate')}" th:errors="*{startDate}">
                                    Valid first name is required.
                                </div>
                            </div>
                            <div class="col">
                                <label for="endDate" class="form-label">Дата окончания</label>
                                <input id="endDate" type="date" th:field="*{endDate}"
                                       th:class="|form-control ${#fields.hasErrors('endDate') ? 'is-invalid' : ''}|">
                                <div class="invalid-feedback" th:if="${#fields.hasErrors('endDate')}" th:errors="*{endDate}">
                                    Valid first name is required.
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <label for="employeeId" class="form-label">Исполнитель</label>
                        <select id="employeeId" class="form-select" th:field="*{employeeId}">
                            <option value=""></option>
                            <option th:each="employee : ${participants}" th:value="${employee.id}"
                                    th:text="|${employee.firstName} ${employee.surname}|">
                            </option>
                        </select>
                    </div>

                    <div class="col">
                        <label for="taskStatusesId" class="form-label">Статусы задачи</label>
                        <select id="taskStatusesId" class="form-select" th:field="*{taskStatusesId}" multiple size="1">
                            <option th:each="taskStatus : ${taskStatuses}" th:value="${taskStatus.id}"
                                    th:class="|badge mx-1 bg-${taskStatus.color}|" th:text="${taskStatus.name}">
                            </option>
                        </select>
                    </div>

                    <div class="col">
                        <div class="row row-cols-2">
                            <div class="col">
                                <label for="taskListId" class="form-label">Список</label>
                                <select id="taskListId" class="form-select" th:field="*{taskListId}">
                                    <option th:each="taskList : ${project.taskLists}" th:value="${taskList.id}"
                                            th:text="${taskList.name}">
                                    </option>
                                </select>
                            </div>
                            <div class="col">
                                <label for="position" class="form-label">Позиция</label>
                                <select id="position" class="form-select" th:field="*{position}">
                                    <option th:each="task : ${taskList.tasks}" th:value="${taskStat.index + 1}"
                                            th:text="${taskStat.index + 1}">
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <button class="btn btn-primary btn-lg" type="submit">Изменить задачу</button>
                        <a class="btn btn-secondary btn-lg" th:href="@{/task/{id}(id=${id})}">Отмена</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</main>

<select th:each="taskList : ${project.taskLists}" th:object="${taskList}" th:id="*{name}" class="form-select visually-hidden">
    <option th:each="task : ${taskList.tasks}" th:value="${taskStat.index + 1}"
            th:text="${taskStat.index + 1}">
    </option>
    <option th:if="${taskList.id != taskDto.taskListId}" th:value="${#lists.size(taskList.tasks) + 1}"
            th:text="${#lists.size(taskList.tasks) + 1}"></option>
</select>

<script>
    const taskListSelect = document.getElementById('taskListId');
    taskListSelect.addEventListener('change', function (event) {
        const name = taskListSelect.options[taskListSelect.selectedIndex].text;
        const newPositionSelect = document.getElementById(name);
        const positionSelect = document.getElementById('position');
        positionSelect.options.length = 0;

        for (let i = 0; i < newPositionSelect.options.length; i++) {
            const option = newPositionSelect.options[i];
            positionSelect.appendChild(new Option(option.text, option.value));
        }
    });
</script>

<div th:replace="fragment/footer::footer"></div>

</body>
</html>