<!DOCTYPE html>
<html lang="en" class="h-100" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/header::header('Информация о проекте')">
    <title>'Информация о проекте'</title>
</head>

<body class="d-flex flex-column h-100 bg-light">

<div th:replace="fragment/navbar::navbar"></div>

<main class="flex-shrink-0">
    <div class="container">
        <main class="px-3">
            <div th:object="${task}">
                <h2 th:text="*{name}">Имя проекта</h2>
                <p class="text-muted" th:text="*{description}"></p>

                <div th:unless="*{startDate == null && endDate == null}">
                    <h4>Сроки выполнения</h4>
                    <p>
                        <span th:if="*{startDate}"
                              th:text="|С *{#temporals.format(startDate, 'd MMM yyyy', #locale.getDefault())}|"></span>
                        <span th:if="*{endDate}"
                              th:text="|До *{#temporals.format(endDate, 'd MMM yyyy', #locale.getDefault())}|"></span>
                    </p>
                </div>

                <div th:if="*{employee != null}">
                    <h4>Исполнитель</h4>
                    <p th:object="${task.employee}">
                        <span th:text="|*{firstName} *{surname}|"></span>
                        <a class="text-muted text-decoration-none" th:href="@{/employee/{id}(id=*{id})}"
                           th:text="|(@*{login})|"></a>
                    </p>
                </div>

                <div th:unless="*{#lists.isEmpty(taskStatuses)}">
                    <h4>Статусы задачи</h4>
                    <div class="d-flex flex-row">
                        <h4><span th:each="taskStatus : *{taskStatuses}" th:object="${taskStatus}"
                              th:class="|badge rounded-pill bg-*{color} me-1 mb-1|" th:text="*{name}"></span></h4>
                    </div>
                </div>

                <div class="mt-3">
                    <form class="form" th:action="@{/task/{id}(id=*{id})}" th:method="DELETE">
                        <a class="btn btn-primary" th:href="@{/task/{id}/edit(id=*{id})}">
                            Изменить задачу
                        </a>
                        <input type="submit" class="btn btn-danger" value="Удалить задачу"/>
                    </form>
                </div>
            </div>
        </main>
    </div>
</main>

<div th:replace="fragment/footer::footer"></div>

</body>
</html>