<!DOCTYPE html>
<html lang="en" class="h-100" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/header::header('Project manager')">
    <title>Project manager</title>
</head>

<body class="d-flex flex-column h-100">

<div class="mb-auto">
    <div th:replace="fragment/navbar::navbar"></div>
</div>

<main class="flex-shrink-0">
    <div class="container d-flex w-50 p-3 mx-auto flex-column text-center">
        <div class="px-3">
            <h1>Project Manager</h1>
            <p class="lead">
                Веб-сервис для организации и управления проектами и задачами для IT компании.
            </p>
            <p class="lead">
                <a href="auth/login.html" th:href="@{/login}" class="btn btn-primary btn-lg fw-bold">
                    Войти
                </a>
            </p>
        </div>
    </div>
</main>

<div th:replace="fragment/footer::footer"></div>

</body>
</html>